@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixin-responsive.scss";

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed; /* Fijo en la pantalla */
  z-index: 999; /* Por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgba(75, 75, 75, 0.77); /* Fondo con opacidad */
  transition: opacity 0.3s;

  &--show {
    visibility: visible;
    opacity: 1;
    animation: slideIn 0.5s forwards;
  }

  &__wrapper {
    background-color: $white-color;
    right: 0;
    position: fixed;
    padding: 20px;
    height: 100%;
    width: 40%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0rem;

    @include xs {
      width: 100%;
      padding: 0;
      right: none;
      border-radius: 0rem;
    }

    @include sm {
      width: 70%;
    }
  }

  &__close {
    cursor: pointer;
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
  }
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
