<div class="tooltip-container">
  @if (loadSales$ |async) {
  <div class="w-100">
    <bold-skeleton-square classT="justify-self-end" height="40" width="20" />
  </div>

  }@else {
  <button
    class="tooltip-container__button-filter"
    (click)="showTooltip(tooltipContainer)"
  >
    <p>Filtrar</p>
    <bold-icon name="FILTER" [height]="16" [width]="16"></bold-icon>
  </button>
  }
  <div class="tooltip-container__wrapper" #tooltipContainer>
    <!-- [ngClass]="
       showTooltip
        ? 'tooltip-container__wrapper--show'
        : 'tooltip-container__wrapper--hide'
    " -->
    <div class="tooltip-container__body">
      <div class="tooltip-container__header">
        <p class="w-100 text-align-center align-content-center">Filtrar</p>
        <button
          (click)="closeTooltip(tooltipContainer)"
          class="tooltip-container__header__close"
          aria-label="Cerrar"
        >
          &times;
        </button>
      </div>
      <form
        [formGroup]="checkBoxForm"
        class="tooltip-container__checkbox__wrapper"
      >
        <div class="tooltip-container__checkbox">
          <input
            formControlName="paymentLink"
            type="checkbox"
            name=""
            id="paymentLink"
          />
          <label for="paymentLink">Cobro con link de pago</label>
        </div>
        <div class="tooltip-container__checkbox">
          <input
            formControlName="paymentTerminal"
            type="checkbox"
            name=""
            id="paymentTerminal"
          />
          <label for="paymentTerminal">Cobro con datáfono</label>
        </div>
        <div class="tooltip-container__checkbox">
          <input type="checkbox" name="" id="all" formControlName="viewAll" />
          <label for="all">Ver todos</label>
        </div>
        <button
          type="button"
          class="tooltip-container__button-applied"
          (click)="onAppliedFilters(tooltipContainer)"
        >
          Aplicar
        </button>
      </form>
    </div>
  </div>
</div>
