<div class="home-sales__container">
  <section class="home-sales__wrapper">
    <div class="home-sales__card">
      <bold-card
        [title]="'Total de ventas de ' + (labelFrecuency$ | async)"
        [tooltipText]="'Este es el total de las ventas filtradas'"
      >
        <div class="home-sales__card__wrapper">
          <p class="home-sales__card__amount">
            $ {{ totalAmount$ | async | customCurrency : "" : "" : "1.0-0" }}
          </p>
          <p class="home-sales__card__frecuency">
            {{ labelFrecuencyDate$ | async }}
          </p>
        </div>
      </bold-card>
    </div>
    <div class="w-100">
      <bold-sales-filters></bold-sales-filters>
    </div>
  </section>
  <section class="home-sales__table">
    <bold-sales-list></bold-sales-list>
  </section>
</div>
