<div class="sales-filter__wrapper">
  <div class="sales-filter__button-container">
    @for (label of labelDatesFrecuency; track $index) {
    <button
      class="sales-filter__button"
      [class.sales-filter__button--active]="buttonActiveIndex == $index"
      (click)="changeFilterDate($index)"
    >
      {{ label }}
    </button>
    }
    <!-- <button
      class="sales-filter__button"
      [class.sales-filter__button--active]="buttonActiveIndex == 0"
      (click)="changeFilterDate(0)"
    >
      Hoy</button
    ><button
      class="sales-filter__button"
      [class.sales-filter__button--active]="buttonActiveIndex == 1"
      (click)="changeFilterDate(1)"
    >
      Esta semana</button
    ><button
      class="sales-filter__button"
      [class.sales-filter__button--active]="buttonActiveIndex == 2"
      (click)="changeFilterDate(2)"
    >
      {{ getCurrentMonth }}
    </button> -->
  </div>
  <bold-tooltip></bold-tooltip>
</div>
