<div class="sales-list__wrapper">
  <div class="sales-list__header">
    <p>Tus ventas de {{ labelFrecuency$ | async }}</p>
  </div>
  <div class="sales-list__filter">
    <img
      src="assets/images/search-icon.svg"
      alt="search-icon"
      height="16px"
      width="16px"
    />
    <input
      placeholder="Buscar"
      class="sales-list__filter__search"
      type="text"
      [value]="searchInputValue()"
      (input)="onInputChange($event)"
    />
  </div>
  <div class="over-flow-auto b-shadow">
    @if ((sales$ |async)?.length === 0) {
    <div class="sales-list__empty">
      <p>No hay registros con los filtros seleccionados</p>
    </div>
    }@else {
    <table class="sales-list__table">
      <thead>
        <tr class="sales-list__table__row">
          <th>Transacción</th>
          <th>Fecha y Hora</th>
          <th>Método de Pago</th>
          <th>ID Transacción</th>
          <th
            class="sales-list__table__row__mount__sort"
            (click)="onSortByMount()"
          >
            <span>Monto</span>
            <bold-icon
              [height]="16"
              [width]="16"
              [name]="
                (isOrderAsc$ | async) ? 'SORT_AMOUT_DOWN' : 'SORT_AMOUNT_UP'
              "
            />
          </th>
        </tr>
      </thead>
      <tbody>
        @for (sale of sales$ | async; track $index) {
        <tr class="sales-list__table__row" (click)="onViewDetail(sale)">
          <td>
            <div class="sales-list__table__row__transaction">
              <bold-icon
                [height]="24"
                [width]="24"
                [name]="sale.salesType"
              ></bold-icon>
              <p>
                {{ sale.statusLabel }}
              </p>
            </div>
          </td>
          <td>{{ sale.createdAt | date : "dd/MM/yyyy - hh:mm:ss" }}</td>
          <td>
            <div class="sales-list__table__row__payment">
              <!-- <img
                  height="24px"
                  width="24px"
                  src="assets/images/png/{{
                    sale.paymentMethod.toLowerCase()
                  }}.png"
                  alt=""
                /> -->
              <bold-icon
                [height]="24"
                [width]="24"
                [name]="sale.paymentMethod"
              />
              <span>**** {{ sale.transactionReference }}</span>
            </div>
          </td>
          <td>{{ sale.id }}</td>
          <td>
            <div class="sales-list__table__row__mount">
              <span>
                $ {{ sale.amount | customCurrency : "" : "" : "1.0-0" }}
              </span>
              @if (sale.deduction) {
              <span class="sales-list__table__row__mount__span"
                >Deducción Bold</span
              >
              <span class="sales-list__table__row__mount__span--deduction"
                >-$
                {{ sale.deduction | customCurrency : "" : "" : "1.0-0" }}</span
              >
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
