/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

html,
body {
  max-width: 100vw;
}

.w-100 {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.align-content-center {
  align-content: center;
}

.flex {
  display: flex;
}

.text-bold {
  font-weight: 600;
}

.over-flow-auto {
  overflow: auto;
}

.b-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
