$blue-color: #121e6c;
$red-color: #ee424e;
$dark-grey-color: #606060;
$light-grey-color: #f3f3f3;
$light-grey-secondary-color: #d4d4d4;
$background-color: #f6f4f9;
$white-color: white;

$linear-gradient: linear-gradient(100deg, $blue-color, $red-color);
